<?xml version="1.0"?>

<launch>

 	<rosparam file="$(find robot_control)/config/control.yaml" command="load"/>

	<node name="controller_spawner" 
	pkg="controller_manager" 
	type="spawner" 
	respawn="false"
	output="screen" 
	ns="/basic_bot" 
	args="joint1_position_controller joint2_position_controller joint_state_controller"/>

	<node name="robot_state_publisher" 
	pkg="robot_state_publisher" 
	type="robot_state_publisher"
	respawn="false" 
	output="screen">
		<remap from="/joint_states" to="/basic_bot/joint_states" />
	</node>
	
	<node name="main_control"
	pkg="robot_control"
	type="main_control.py"
	output="screen"/>

</launch>
